footer {
	position: relative;
	width: 100%;
	height:8%;
	bottom: 0;
	color: white;
	background-color: #939596;
}

p.copyright {
	position: relative;
	width: 100%;
	color: #fff;
	line-height: 25px;
	font-size: 1.0em;
	text-align: center;
	bottom: 0;
}

